body {
      background: gray;
      padding: 20px;
    }
    .container {
      background: white;
      width: 500px;
      margin: auto;
      padding: 20px;
      border-radius: 20px;
    }
    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: brown;
    }
    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 10px;
    }
    td {
      border: 1px solid black;
      padding: 10px;
    }
    button {
      padding: 10px;
      background: blue;
      border-radius: 5px;
      cursor: pointer;
      width: 40%;
      margin-left: 30%;
    }
    button:hover {
      background: brown;
    }