.grid-img{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 20px;
    margin: 10px;
    justify-content: space-evenly;
}
.grid-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-img{
    padding: 30px;
}
.anime1-img{
    display: block;
    border: 2px solid black;
    background-color: silver;
    padding: 30px;
    height: fit-content;
}
.button{
    margin-left: 40%;
    background-color: gray;
}
.button:hover{
    box-shadow: 1px 1px 20px;
    background-color: red;
}
.head{
    text-align: end;
    animation: change 9s linear infinite;
}
@keyframes change{
    0%{color: gray;}
    25%{color: red;}
    50%{color: green;}
    75%{color: darkblue;}
    100%{color: purple;}
    0% {transform: translateX(0%);}
  100% {transform: translateX(-100%);}
}
body{
    background-color: lightblue;
}