#table{
      margin-left: 35%;   
      }
#button{
        margin-left: 50%;
       }
#head{
      text-align: center;
     }
      th,td{
        border: 1px solid black;
     }
      th{
        background-color: blue;
     }
     body{
        background-image: url('./backiee-119832.jpg');
        background-size: 20%;
        background-repeat: repeat;
     }
     
    tr{
         background-color: white;
     }